/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Raleway', sans-serif;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #222;
    text-decoration: none;
}

.skill-progress {
    width: 500px;
    padding: 20px;
    background-color: #333;
    border-radius: 7px;
    color: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);

}

.skill-progress h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: normal;
}

.item p {
    overflow: hidden;
    margin-bottom: 2px;
}

.item p span:nth-child(1) {
    float: left;
}

.item p span:nth-child(2) {
    float: right;
}

.progress {
    border: 1px solid #6cd4c4;
    padding: 5px;
    border-radius: 3px;
}

/* linear-gradient(direction, start color, end color) */
.progress-level {
    height: 10px;
    background: linear-gradient(to right, crimson, gold);
    animation: ani 1s;
    animation-fill-mode: both;
}

/* ani는 temporary name as if class name */
@keyframes ani {
    0% {
        width: 0;
    }
}

/* .skill-progress 아래에 보면 h1이 껴있음. 기존대로 nth-child를 썼다면,
    해당코드는 h1을 nth-child(1)으로 읽어서 한 칸씩 밀리게 됨
    고로, nth-of-type을 사용하여 '나 .item 클래스 내에 있는 .progress-level만 고르는거야' 라는 걸 구분시켜주어야 함 */
.skill-progress .item:nth-of-type() .progress-level {
    animation-delay: 0s;
}

.skill-progress .item:nth-of-type(2) .progress-level {
    animation-delay: 0.2s;
}

.skill-progress .item:nth-of-type(3) .progress-level {
    animation-delay: 0.4s;
}

.skill-progress .item:nth-of-type(4) .progress-level {
    animation-delay: 0.6s;
}

.skill-progress .item:nth-of-type(5) .progress-level {
    animation-delay: 0.8s;
}